.cover__link {
  position: absolute;
  top: 92px;
  bottom: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
}

.cover__link::before {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  background: #2a2c2f;
  content: '';
  opacity: .3;
  transition: opacity 1s linear;
}

.cover__link:hover::before {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .cover__link {
    top: 66px;
  }
}
