.cover {
  position: relative;
  display: flex;
  max-width: 1184px;
  flex-direction: column;
  align-items: center;
  padding: 92px 0 0;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .cover {
    padding-top: 66px;
  }
}
