.lead__image-decoration {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: url('../../../images/path.svg');
  background-position: center 37%;
  background-repeat: no-repeat;
  background-size: 95%;
}
