.place {
  display: grid;
  width: 100%;
  padding: 80px 0 0;
  margin: 0 auto;
  gap: 48px 40px;
  grid-template-columns: repeat(2, minmax(340px, 1fr));
}

@media screen and (max-width: 767px) {
  .place {
    padding-top: 50px;
    gap: 32px;
    grid-template-columns: 1fr;
  }
}
